extends layout

block content
  .nav_reg_log
    .reg
      h1 Registration
      .inp
        input(type='text' placeholder='username' id='reg_name')
        input(type='text' placeholder='email' id='reg_email')
        input(type='text' placeholder='pwd' id='reg_pwd')
      .btn
        button(type='submit' id='reg_btn') Registrate
    .log
      h1 Login
      .inp
        input(type='text' placeholder='name' id='log_name')
        input(type='text' placeholder='pwd' id='log_pwd')
      .btn
        button(type='submit' id='log_btn') Login
  .cars_stylesheet
    each car in carArr
      div(class='car_style')
        h1.name= car.model
        h1.price= car.price
        button(type='submit' class='sale') To sell
        button(type='submit' class='change') Change
  div(class='add_car_input')
    input(type='text' placeholder='model' id='model')
    input(type='text' placeholder='price' id='price')
  button(type='submit' id='add_car') Add car!
  script(src='./javascripts/registration.js')
  script(src='./javascripts/login.js')
  script(src='./javascripts/addcar.js')

